<a routerLink="/student-login" class="m-2 fw-bold">Back</a>
<div class="d-flex flex-column m-auto main-div align-items-center">
    <h5 class="text-center">Result</h5>
    <div class="d-flex w-25 m-2">
        <h6>Roll No. : </h6>
        <span>{{this.rollNo}}</span>
    </div>
    <div class="d-flex w-25 m-2">
        <h6>Name :</h6> 
        <span>{{this.name}}</span>
    </div>
    <div class="d-flex w-25 m-2">
       <h6> Date of Birth :</h6>
       <span>{{this.dateOfBirth}}</span>
    </div>
    <div class="d-flex w-25 m-2">
        <h6>Score :</h6> 
        <span>{{this.score}}</span>
    </div>
</div>
